extends layout

block content
  div(class="container-fluid")
    h1= title
    - let items = results
    div(class="row")
      each form,index in results
        div(class = "col-sm-2  " onclick=`buy(${index})`) #{form.Name}
        br
        br
        br
        div(class = "col-sm-2" onclick=`buy(${index})`) #{form.Manufacture}
        br
        br
        br
        div(class = "col-sm-2" onclick=`buy(${index})`) #{form.Cost}
    script.
      function buy(itemNo)
        {
        alert(`You purchased Item ${itemNo+1}`)
        }

    

