extends layout

block content
  div(class="container-fluid")
    h1= title
    - let items = results
    div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/CricketBats/update?id=${item._id}\")` 
        - let detail = `dispatch(\"/CricketBats/detail/?id=${item._id}")`
        - let deleteItem = `dispatch(\"/CricketBats/delete/?id=${item._id}")` 
        div(class="row-sm-2", class="m-1") Item #{item.Name}(#{item.Manufacture}) is #{item.Cost} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
          button.btn( class="btn-success", onclick= detail) Details
          button.btn( class="btn-danger", onclick= deleteItem) Delete
   
 
 
    div(class="row")
      each form,index in results
        div(class = "col-sm-2  " onclick=`buy(${index})`) #{form.Name}
        br
        br
        br
        div(class = "col-sm-2" onclick=`buy(${index})`) #{form.Manufacture}
        br
        br
        br
        div(class = "col-sm-2" onclick=`buy(${index})`) #{form.Cost}
    script.
      function buy(itemNo)
        {
        alert(`You purchased Item ${itemNo+1}`)
        }

    

    

