extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let CricketBatid = toShow._id 
    - let CricketBat_type = toShow.Name 
    - let CricketBatcost = toShow.Manufacture 
    - let CricketBatsize = toShow.Cost 
    - let actionid = "/resource/CricketBats/" + CricketBatid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='CricketBatAttr mr-3') CricketBat ID is: 
        div #{CricketBatid} 
      div.row 
        div(class='CricketBatAttr mr-3') CricketBat Type is: 
        div #{CricketBat_type} 
      div.row 
        div(class='CricketBatAttr mr-3') CricketBat Size is: 
        div #{CricketBatsize} 
      div.row 
        div(class='CricketBatAttr mr-3') CricketBat Cost is: 
        div #{CricketBatcost} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the CricketBat collection 
      window.location.href='/CricketBats' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Dont need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/CricketBats' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 